.txt1{
    text-align: center;
    font-size: 26px;
    margin-top: 3%;
}

/*tabla*/
#main-container{
    margin: 110px auto;
}
table{
    background-color: white;
    text-align: left;
    width: 60%;
    float: left;
    margin-left: 20%;
    border-collapse: collapse;
}

th, td{
    padding: 20px;
}

thead{
    background-color: #9e0000;
    color: white;
    border-bottom: solid 5px #9e0000;
}

tr:nth-child(even){
    background-color: #ddd;
}

tr:hover td{
    background-color: #333;
    color: white;
}
/*fin tabla*/

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/*secciones*/
.botes{
    width: 60%;
    height: 50vh;
    float: right;
    margin-right: 20%;
    background-image: url(../img/botesIMG/fondoBOTES.jpg);
    background-repeat: round;
    background-attachment: fixed;
 
}
.botesTXT{
  position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 260%;
}

.motos{
    width: 60%;
    height: 50vh;
    float: right;
    margin-right: 20%;
    background-image: url(../img/motosIMG/motoPortada.jpg);
    background-repeat:round;
    background-attachment: fixed;
     
}
.motosTXT{
  position: absolute;
    top: 93%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 260%;
}

.deportes{
    width: 60%;
    height: 50vh;
    float: right;
    margin-right: 20%;
    background-image: url(../img/DeportesIMG/sportPIC.jpg);
    background-repeat: round;
    background-attachment: fixed;  
}
.deportesTXT{
    position: absolute;
    top: 140%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 260%;
}
.juegos{
    width: 60%;
    height: 50vh;
    float: right;
    margin-right: 20%;
    background-image: url(../img/juegosIMG/pic.jpg);
    background-repeat: round;
    background-attachment: fixed;
}
.juegosTXT{
  position: absolute;
    top: 193%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 260%;
}
/*finSECCIONES*/

/*footerPRINCIPAL*/
.footer1{
    background: #333;
    color: white;
    text-align: center;
    padding: 2%;
    margin-top: 113%;
}