body{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

.containerdios{
    width: 100%;
    min-width: 400px;
}

/*menu*/
.topnav {
  background-color: #333;
  overflow: hidden;
  margin: 0px;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #9e0000;
  color: white;
}

.topnav a.active {
  background-color: #9e0000;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
/*fin menu*/

/*banner*/
.banner{
    position: relative;
    width: 100%;
}

.txt{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 260%;
}

footer{
    text-align: center;
    background: #333;
    color: white;
    padding: 2%;
    margin-top: 78%;
}